:root {
    --color_0: rgb(60, 38, 93);
    --color_1: rgb(57, 5, 61);
    --color_2: rgb(36, 21, 60);
    --color_3: rgb(108, 54, 222);
    --color_4: rgb(11, 3, 28);
    --color_5: rgb(132,85,230);
    --color-font: rgb(255, 255, 255);
    --font_1: montserrat, sans-serif;
    --font_2: normal normal bold 70px/1em montserrat,sans-serif;
    --font_3: normal normal bold 22px/1.5em roboto-thin,roboto,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font_1);
}

header {
    background-image: linear-gradient(90deg, var(--color_0), var(--color_1), var(--color_2));
    box-shadow: 0px 3px 10px rgba(25, 25, 25, 0.768);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

ul li a {
    text-decoration: none;
    color: var(--color-font);
    transition: 0.4s;
}

ul li a:hover {
    color: var(--color_3);
}

#liProducts:hover .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--color_4);
    list-style: none;
    border-radius: 2px;
}

.dropdown {
    position: absolute;
    display: none;
}

.dropdown a {
    display: block;
}

#liLogin {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

#btn-mobile {
    display: none;
    color: var(--color-font);
    background-color: transparent;
    border: none;
}

.background-img {
    background-image: url(img/a.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}

.grandiente {
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.40);
}

.informar {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 90%;
    padding-top: 5%;
}
#card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 35%;
    height: 50%;
    box-shadow: 0px 3px 10px rgba(25, 25, 25, 0.900);
    border-radius: 20px;
    padding: 2% 0px 4% 4%;
    background-color: var(--color_5);
    color: var(--color-font);
    font-size: 1.9vw;
    font-family: var(--font_3);
}

#prominence_cyberKid {
    font-size: 5vw;
    font-family: var(--font_2);
}

#card button {
    color: var(--color_3);
    font-size: 1.3vw;
    border-radius: 50px;
    border-color: transparent;
    padding: 2%;
    width: 30%;
}


#card-img img {
    width: 100%;
    box-shadow: 0px 3px 10px rgba(25, 25, 25, 0.900);
    border-radius: 20px;
}
@media (max-width: 800px) {

    #btn-mobile {
        display: block;
    }

    .menu {
        display: flex;
        align-items: baseline;
        position: absolute;
        width: 100%;
        top: 115px;
        right: 0;
        background-image: linear-gradient(90deg, var(--color_0), var(--color_1), var(--color_2));
        flex-direction: column;
        height: 0;
        transition: 0.5s;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav.active .menu {
        height: calc(50vh - 125px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu li {
        padding: 0 7%;
    }

    .informar {
        align-items: center;
    }
    
    #card {
        width: 90%;
        font-size: 4vw;
    }
    #card button {
        font-size: 3vw;
    }
    #prominence_cyberKid {
        font-size: 8vw;
    }
    #card-img {
       display: none;
    }
}