.background-img {
    height: 120vh;
}

.grandiente {
    height: 120vh;
}

.informar {
    flex-direction: column;
    align-items: center;
}

#card {
    width: 77%;
    font-size: 4vw;
}

#card button {
    font-size: 2.5vw;
}

#prominence_cyberKid {
    font-size: 8vw;
}

#card-img {
    width: 80%;
}

.group-cards-category {
    flex-direction: column;
}

.card-category img {
    width: 90vw;
}

.section-spend-earn h2 {
    font-size: 2em;
}

.section-spend-earn p {
    font-size: 1.2em;
}

.background-one-signature-section h2 {
    font-size: 2em;
}

.background-one-signature-section form {
    width: 80vw;
}

.background-two-signature-section {
    height: 20vh;
}

.background-two-signature-section img {
    width: 95vw;
}